/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ----------------------------------------------------- */
/* Custom CSS */
.myHeroContainer {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  background-color: #f5f4f4;
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(
    180deg,
    hsl(206deg 65% 15%) 0%,
    hsl(196deg 39% 28%) 29%,
    hsl(192deg 35% 37%) 42%,
    hsl(191deg 34% 44%) 51%,
    hsl(190deg 34% 50%) 57%,
    hsl(190deg 36% 58%) 62%,
    hsl(190deg 38% 66%) 66%,
    hsl(190deg 41% 73%) 70%,
    hsl(189deg 47% 79%) 74%,
    hsl(189deg 54% 84%) 77%,
    hsl(187deg 57% 87%) 81%,
    hsl(185deg 62% 90%) 86%,
    hsl(182deg 70% 92%) 92%,
    hsl(178deg 92% 95%) 100%
  );
  /* padding: 1rem 1rem; */
}
.leftContainer {
  height: 100%;
  padding: 2rem 0 0 2rem;
  font-size: 40px;
  flex: 1;
}
.rightContainer {
  width: 60%;
  text-align: center;
  height: 100%;
  /* min-width: 600px; */
  position: relative;
  top: 0;
  left: 0;
}

.rightContainer img {
  position: relative;
  top: 10%;
  width: 300px;
  height: 500px;
  object-fit: fill;
}

@media screen and (max-width: 1090px) {
  .rightContainer {
    text-align: left;
  }
}

@media screen and (max-width: 950px) {
  .rightContainer img {
    position: relative;
    top: 20%;
    max-width: 278px;
    max-height: 443px;
  }
}

@media screen and (max-width: 740px) {
  .rightContainer {
    display: none;
  }
  .leftContainer {
    background-image: url("../../static/img/main_otter.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

.leftContainer_h1 {
  color: rgb(255, 255, 255);
  font-size: 4rem;
}
.leftContainer_p {
  display: flex;
  align-items: center;
  color: #dcd9d3;
  font-size: 1.5rem;
}
.buttonContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 4rem;
  width: 20rem;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.button {
  padding: 0.6rem 2rem;
  background-color: #ffae33;
  color: white;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.2rem;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.button:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
.button:active {
  transform: scale(0.98);
}

.buttonLeftText {
  display: inline-block;
  margin: 0 0 10px 20px;
  height: 2rem;
  font-size: 0.8rem;
  color: #565451;
}
.imgContainer {
  width: 13rem;
  display: flex;
  flex-direction: row;
}
.svg {
  /* font-size: 20px; */
  width: 2.5rem;
  height: 2.5rem;
}
.hero_a {
  text-decoration: none;
  color: white;
}
.hero_a:hover {
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 966px) {
  .myHeroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.spaceOtterOuterWrapper {
  position: absolute;
  min-width: 300px;
  min-height: 300px;
  top: 0;
  right: 0;
}

@media screen and (max-width: 820px) {
  .spaceOtterOuterWrapper {
    min-width: 250px;
    min-height: 250px;
    right: -10%;
  }
  
}
